.bc-background-highfive,
.bc-background-highfive-1 { background-color: #a26eea; }
.bc-color-highfive,
.bc-color-highfive-1 { color: #a26eea; }
.bc-background-highfive-2 { background-color: #f7afff; }
.bc-color-highfive-2 { color: #f7afff; }
.bc-background-highfive-3 { background-color: #5d70ea; }
.bc-color-highfive-3 { color: #5d70ea; }
.bc-background-highfive-4 { background-color: #46b7fd; }
.bc-color-highfive-4 { color: #46b7fd; }