<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="css/main.css">
  <title>user</title>
</head>

<body>
  <!--     Ventana de inicio -->
  <header id="headerUser">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><img src="assets/images/logo.jpg" alt=""></a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="#" style="color:black">Juan Luna</a></li>
        </ul>
        <form class="navbar-form navbar-left" action="/action_page.php">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar amigos" name="search">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </nav>
    <!-- <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="logo" src="assets/images/logo.jpg">
          </a>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="">
            </div>
            <button type="submit" class="btn btn-default">Agregar amigos</button>
          </form>
        </div>
      </div>
    </nav> --> 
  </header>  
  <div class="container-fluid">
    <main>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="row name">
              Juan Garcia
            </div>
            <div class="row">
              <img src="assets/images/foto2.jpg" class="img-responsive">
            </div>
            <div class="row buttons">
             <button type="button" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-headphones"></span> Brillas
            </button>
            <button type="button" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-edit"></span> Autógrafo
            </button>
            <button type="button" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-bullhorn"></span> Fama
            </button>
          </div>
          <div class="row comentarios">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
              <span class="input-group-addon glyphicon glyphicon-camera" id="sizing-addon2"></span>
            </div>
            <br>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="row name">
            Juan Garcia
          </div>
          <div class="row">
            <img src="assets/images/foto3.jpg" class="img-responsive">
          </div>
          <div class="row buttons">
           <button type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-headphones"></span> Brillas
          </button>
          <button type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-edit"></span> Autógrafo
          </button>
          <button type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-bullhorn"></span> Fama
          </button>
        </div>
        <div class="row comentarios">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
            <span class="input-group-addon glyphicon glyphicon-camera" id="sizing-addon2"></span>
          </div>
          <br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="row name">
          Juan Garcia
        </div>
        <div class="row">
          <img src="assets/images/foto4.jpg" class="img-responsive">
        </div>
        <div class="row buttons">
         <button type="button" class="btn btn-default btn-xs">
          <span class="glyphicon glyphicon-headphones"></span> Brillas
        </button>
        <button type="button" class="btn btn-default btn-xs">
          <span class="glyphicon glyphicon-edit"></span> Autógrafo
        </button>
        <button type="button" class="btn btn-default btn-xs">
          <span class="glyphicon glyphicon-bullhorn"></span> Fama
        </button>
      </div>
      <div class="row comentarios">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
          <span class="input-group-addon glyphicon glyphicon-camera" id="sizing-addon2"></span>
        </div>
        <br>
      </div>
    </div>
  </div> 
</div> 
</div>
</main>
</div>
</div>
</div>




<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfjoeDuAGDqNBRRAGFzBvGvDpvp5vyK3o&callback=initMap">
</script>
<script src="../js/app.js"></script>
</body>
</html>
